<h1>Calculate A Property's Past Growth Rate</h1>


<% until @count == @years_display %>
<%= "#{@current_year} = $#{@property_value.round(0)}" %>
<br>
<% @count += 1 %>
<% @current_year += 1 %>
<% @property_value *= @growth_int %>
<% end %>

<br>
<br>
<%= link_to "Run Another Calculation", future_calculator_path %>
<br>
<br>





<p>Some of our other tools can help provide some further context for these calculated results: <br>- Suburb Stats <br>- Suburb Selector (coming soon) <br>- Rental Yield Calculator <br>- Past Growth Calculator</p>
