<h1>Calculate A Property's Past Growth Rate</h1>

<h1><strong><%=@average_annual_growth_percentage %>% per annum</strong></h1>

<%= link_to "Run Another Calculation", past_calculator_path %>

<p>Some of our other tools can help provide some further context for these calculated results: <br>- Suburb Stats <br>- Suburb Selector (coming soon) <br>- Rental Yield Calculator <br>- Past Growth Calculator</p>
