<h1>Calculate A Property's Rental Yield</h1>

<p>Use this calculator to determine the rental yield of property. It uses the annual rent and the property price. </p>

<form action="/yield-results" class="form-inline">
  <div class="form-group">
    <label for="weeklyRent">Weekly Rent</label>
    <input type="number" class="form-control" name="weeklyRent" aria-describedby="weeklyRent" placeholder="$">
  </div>
  <div class="form-group">
    <label for="monthlyRent">Monthly Rent</label>
    <input type="number" class="form-control" name="monthlyRent" placeholder="$">
  </div>
  <div class="form-group">
    <label for="propertyPrice">Property Price</label>
    <input type="number" class="form-control" name="propertyPrice" placeholder="$">
  </div>
  <button type="submit" class="btn btn-primary">Calculate</button>
</form>
