<h1>Investment Stats - <%= @suburb.upcase %></h1>

<%= @headline %>





<br><br><br><br><br>
<%= link_to "View Stats of Another Suburb", suburb_stats_path %>
<p>Some of our other tools can help provide some further context for these calculated results: <br>- Suburb Stats <br>- Suburb Selector (coming soon) <br>- Rental Yield Calculator <br>- Past Growth Calculator</p>


<%= %>
<p></p>
<br>