<h1>View Some Useful Property Stats and Information in One Place</h1>

<p>Compiled from different property databases, enter a particular suburb to access a variety of stats and information to help gain an overview of the investing outlook in that particular suburb.</p>

<form action="/suburb-results" class="form-inline">
  <div class="form-group">
    <label for="state">State</label>
    <input type="text" class="form-control" name="state" placeholder="e.g VIC">
  </div>
  <div class="form-group">
    <label for="postcode">Postcode</label>
    <input type="text" class="form-control" name="postcode" placeholder="e.g. 3121">
  </div>
  <div class="form-group">
    <label for="suburb">Suburb</label>
    <input type="text" class="form-control" name="suburb" placeholder="e.g Richmond">
  </div>
  <button type="submit" class="btn btn-primary">Calculate</button>
</form>
